<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>DON'T EXPECT LIFE WILL BE VERY SMOOTH.IS ONLY IN A MOVIE YOU MEET A HERO AND GET MARRIED</h1>
   <h2>HE WILL BE IN A BIG JOB, EVERYTHING IS FINE.ONE DAY THE VILLAIN COMES IN REAL LIFE NOT THAT</h2>
   <h3>YOU MAY BE VERY GOOD WORKERS. YOUR COLLEAGUES MAY NOT BE GOOD WITH YOU. YOU MAY HAVE AN EXCELLENT</h3>
   <h4>DAUGHTER IN LAW. MOTHER IN LAW MAY BE A LITTLE NASTY.EVERY DIFFICULTY IN LIFE WITH A HELIUM BALLOON</h4>
   <h5>AND SOMETIMES IT STAYS WITH YOU AND THEN IT GOES UP.....................</h5>
</body>
</html>